ALLOW_ORIGINS=*
LOG_LEVEL=INFO
COURTRESERVE_NAVIGATION_TIMEOUT_MS=90000
COURTRESERVE_SELECTOR_TIMEOUT_MS=90000
COURTRESERVE_POST_LOAD_WAIT_MS=2500
COURTRESERVE_FETCH_RETRIES=2
CACHE_TTL_SECONDS=180
MAX_STALE_SECONDS=900
